<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/therainycloud/image/upload/v1600260683/Image-feat_c8x2je.jpg);">
  <div class="container">
    <h1>Olas para Barcelona</h1>
  </div>
</div>
<div class="container">
  <div class="waves-grid">
    <iframe width='1229' id="myiFrame" height='750' src='https://portus.puertos.es/index.html#/dataTablesRTWidget?stationCode=1731&variables=WAVE&isRadar=false&latId=&lonId=&locale=es' frameborder='0' />

  </div>
</div>

